<head>
  <title>Rails SMS Chat V 1.0</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<h1>Rails SMS Chat V 1.0</h1>
<h2>Logged in as: <%= params[:user][:user] %></h2>
<%= link_to '<< Back to users', home_path %>
<div class="chat-form-wrapper">
	<div id="ajax-div">
		<%= render :partial => 'chat_show_box' %>
	</div>
	<div class="message-box-wrapper">
		<%= form_for @chat, :remote => true, :onsubmit => "return cleartxtbox();" do |f| %>
			<%= f.text_field :message %>
			<%#= f.text_field :user, :value => params[:user][:user] %>
			<%= f.hidden_field :user, :value => params[:user][:user] %>
			<%= f.submit 'Send', :id => 'send_btn' %>
		<% end %>
	</div>
</div>